/* Navbar Styles */

.navbarSlide{
  background-color: rgb(0, 255, 136);
  width:10vw;
  height:100vh
}
.navHeader{
  display:flex;
  flex-direction: column;
}
.motto{
  color:white;
  display:flex;
  flex-direction: column;
  writing-mode:vertical-lr;
}
.totalCarts{
  position:absolute;
  left:45px;
  top:11px;
}
.bag{
  height:40px;
  color:blue;
  margin-top: 20px;
  margin-bottom:50px;
  margin-left:20px;
  width:30px;
}
/* Display Items Styles */

.section{
  display:flex;
  align-items: center;
  flex-direction:column;
  width:90vw;
  margin-left: 10vw;
}
.topFace{
  color:rgb(255, 106, 26);
  box-shadow:0 2px 5px;
  padding:5px;
}
.itemsCard{
  box-shadow: 0 2px 5px;
  width:500px;
  position:relative;
  padding:20px;
}

.singleItem{
  display:flex;
  justify-content: space-between;
}
.titleImg{
  margin-bottom: 15px;;
}
.itemTitle, .itemPrice{
  font-size:13px;
}
.itemTitle, .itemPrice, .titleImg button {
  margin: 0;
  padding: 0;
}
.totalPrice{
  margin-left:40px;
  margin-top:1rem;
  text-align:center;
  color:blue;
}
.clearAll{
  margin-top:20px;
}

@media only screen and (max-width:795px){
  .itemsCard{
    width:400px;
  }
  .topFace{
    font-size:20px;
  }
  .motto, .bag{
    margin-left:0;
  }
  .totalCarts{
    position:relative;
    margin:0;
    top:20px;
    left:13px;
  }
}

@media only screen and (max-width:590px){
  .itemsCard{
    width:300px;
  }
  .topFace{
    font-size:15px;
  }
}